.activo {
  display: flex;
  justify-content: center;
  transform: translateY(0);
  transition: all 500ms ease-in-out;
}

.noActivo {
  display: flex;             
  justify-content: center;
  transform: translateY(-500px);
  transition: all 500ms ease-in-out;
}


.container{
    display: flex;
    align-items: center;
    margin-top: 1em;
    background: rgba(0, 110, 255, 0.4);
    
    width: fit-content;
    height: fit-content;
    border-radius: 1em;
}

.container span {
    margin: 1em;
}